<!DOCTYPE html>
<html>
<head>
    <title>People Data</title>
</head>
<body>
    <h1>People Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people_data %}
                <tr>
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.city }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
